*{
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

/* :root{
    --editBorder: 1px solid red;
} */

header{
    max-width: 1366px;
    height: 50px;
    background-color: #E0E0E0;
}

header ul{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px 10px;
    height: 100%;
}

header ul li {
    padding: 0 10px;
    max-height: 100%;
    font-size: 20px;
    font-weight: 400px;
}

header ul li a{
    text-decoration: none;
    color: black;
}
header ul li:first-child{
    font-size: 30px;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
}

section .banner {
    margin: 90px 0;     
    text-align: center;
}

section .banner h1{
    margin-bottom: 10px;
    font-size: 40px;
}

section .banner h3{
    font-size: 25px;
}


div.form{
    width: 100%;
    display: flex;
    justify-content: center;
}

div.suggestion{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.suggestion input, textarea{
    border-radius: 5px;
    border: 1px solid gray; 
    resize: none;
    padding-left: 7px;
}

div.suggestion input#submit{
    margin: 20px 0;
    height: 45px;
    background-color: whitesmoke;
}
div.suggestion input {
    height: 40px;
}

div.suggestion label {
    padding: 10px 0;
    text-align: start;
}