<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/style.css" />
<title>Caixa de sugestão</title>
</head>
<body>
	<!-- <div th:insert="fragments/navbar :: navbar"></div> -->
	<header th:fragment="navbar" class="content">
	<ul>
		<li><a href="#">Caixa de Sugestões</a></li>
		<li><a href="/">Home</a></li>
		<li><a href="/new">Deixar Sugestão</a></li>
	</ul>
	</header>
	<section class="content">
		<div class="banner">
			<img src="/img/icon_style_3.svg" alt="style3"/>
			<!-- <h1>STYLE3</h1> -->
			<h3>Plataforma de contribuição</h3>
		</div>

		<form action="/new" method="get">
			<h1 class="contribuitions">Contribuições Recentes</h1>
			<div class="table">
				<ul>
					<li th:each="l : ${listSuggestion}">
						<h3 id="name" th:text="${l.contact.name}">Name</h3>
						<p id="textSuggestion" th:text="${l.textSuggestion}">text suggestion</p>
						<p id="date" th:text="${#dates.format(l.creatDate, 'dd-MM-yyyy')}">Date</p>
					
					</li>
				</ul>
			<!-- 
			ul th:each="l : ${listSuggestion}"
			nome
			text.suggestion
			date -->
			</div>
		</form>

	</section>
</body>
</html>