<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/syleSuggestion.css"/>

    <title>Sugestão</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="#">Caixa de Sugestões</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="#">Deixar Sugestão</a></li>
        </ul>
    </header>
    <section class="content">
        <div class="banner">
            <h1>STYLE3</h1>
            <h3>Plataforma de contribuição</h3>
        </div>
        <form method="POST" th:action="@{/new}">
            <div class="form">
                <div class="suggestion">
	                <label for="name">Nome:</label>
	                <input type="text" id="name" th:field="${contact.name}" placeholder="Seu nome"/>
	                <label for="phone">Telefone:</label>
	           		<input type="text" th:field="${contact.phones}" placeholder="Telefone"/> 
	                <label for="suggestion">Sugestão:</label>
	                <textarea id="textSuggestion" th:field="${contact.suggestion.textSuggestion}" name="suggestion" rows="6" cols="60"></textarea>
	                
	                <button type="submit">Enviar</button>
            	</div>
        	</div>
        </form>
    </section>
</body>
</html>